<p>user works!</p>
user內印出:
<br>
<a [routerLink]="['/user-list', 87, '內lalala2']">ch11-138. user 內 使用 [routerLink] 攜帶參數['/user-list', 87, '內lalala2']</a>

<br>
user id : {{ user.id }}
<br> 
user name : {{ user.name }}
<br>
