<p>cockpit works!</p>

<h2>76 範本 變數 reference template #</h2>
輸入:
<input type="text" #inputValue>
輸入值: {{ inputValue.value }}
<button (click)="getTemplateRef(inputValue)">取得 範本參考變數</button>

<br>
server name: <input type="text" [(ngModel)]="newServerName">
<br>
server content: <input type="text" [(ngModel)]="newServerContent">
<br>

<button (click)="createRed()">新增紅色</button>
<button (click)="createBlue()">新增藍色</button>

<h2>78. @ViewChild get template dom</h2>
輸入文字：
<input type="text" #inputContent>
<button (click)="getElement()">取得元素</button>

