<p>server-list works!</p>

<h2>132. reload server list</h2>
=> 相對/ 絕對路徑
<br>

<h3>相對路徑 relative path</h3>
<a routerLink="server-list">server-list</a>
<br>
<a routerLink="./server-list">./server-list</a>
<br>
<br>

<h3>絕對路徑</h3>
<a routerLink="/server-list">/server list</a>
<br>
<a routerLink="../server-list">../server-list</a>
<br>

<h2>135. 於 ts 使用 router 重整 絕對/相對路徑</h2>

=> ts router 使用 相對路徑 => 不影響
<br>
<button (click)="routeReload1()">相對路徑1</button>
<br>
=> ts router 若需使用 相對路徑, 需加入參數
<br>
<button (click)="routeReload2()">相對路徑2</button>
<br>

<h2>140. edit server 路由參數</h2>
<a 
    [routerLink]="['/server-list', 87, 'edit' ]" 
    [queryParams]="{allowEdit: true}"
    [fragment]="'loading'">
    攜帶參數路有的兩種方法
</a>
<br>
<button (click)="routeServerEdit()">攜帶參數有兩種方法</button>



