<h1>ch11 home page</h1>

<h2>使用 href 導向</h2>
<a href="/server-list">herf server</a>
<br>
<a href="/user-list">href user</a>
<br>

<h2>131. 使用 routerLink 導向</h2>
=> routerLink 不需重新整理畫面
<br>

<a routerLink="/server-list">router link server list</a>
<br>
<a [routerLink]="['/user-list']">[routerLink] user-list</a>

<h2>133. routerLinkActive 與 class</h2>
<div class="ch11-active" ><a routerLink="/server-list">server-list</a></div>
<div routerLinkActive="ch11-active"><a routerLink="/server-list">server-list</a></div>
<div><a routerLinkActive="ch11-active" routerLink="/server-list">server-list</a></div>

<h2>134. 按鈕導向 </h2>
<button (click)="routerToServerList()">絕對路徑導向 </button>

<h2>呈現結果</h2>
<router-outlet></router-outlet>



