<h1>ch7 directive home</h1>

<h2>95. 奇偶數陣列分開</h2>

<button (click)="isOdd = !isOdd">切換奇偶數</button>

<div *ngIf="isOdd">
    <div *ngFor="let odd of oddNumberList">
        {{ odd }}
    </div>
</div>
<div *ngIf="!isOdd">
    <div *ngFor="let event of eventNumberList">
        {{ event }}
    </div>
</div>


<h2>96,97. 屬性指令</h2>
<div loulouBasiceHeightlight>使用 elementRef 的自定義 指令</div>
<div appBetterHeightlight [heightlghtBackgroundColor]="'yellow'">使用 renderer2 + elementRef 指令</div>

<h2>101. 自定義結構指令</h2>
<div *appUnless="false">自定義結構指令 unless</div>
=> 壞掉了

