<p>userlist works!</p>

<a [routerLink]="['/user-list', 6, 'lalala!']">ch11-136,138. user list 外層 [routerLink] 攜帶參數 ['/user-list', 6, 'lalala!'] </a>

<div *ngFor="let user of userList">
    user list 印出 : {{ user.name }}
</div>

