<h1>ch5 data binding home</h1>

<app-cockpit
    (addRed)="addRed($event)"
    (addBlue)="addBlue($event)">
</app-cockpit>

<app-server-element 
    *ngFor="let server of serverList"
    [showServerElement]="server">
</app-server-element>

